main {
    text-align: center;
    padding-bottom: 20px; 
}

nav {
   text-align: center;
} 

nav li { 
  display: inline; 
  padding: 10px;
  background-color: orange;
}


table, th, td, {
  border: 1px solid;
  border-collapse: collapse;
  width: 60%;
}

th {
  height: 20px;
}

td {
   text-align: center;
}

header {
	text-align: center;
	background-color: black;
}

h1 {
	color: white;
	text-align: center;
}

h3 {
	color: blue;
}

footer {
	text-align: center;
}
#kofy-note { /* Directement pris de ma base de code personnelle destinée aux sites webs hébergés sur mon infrastructure */
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    margin-top: 0.8rem;
    line-height: 1.6;
}
